// #country_id-error,
// #currency_symbol_placement-error,
// #time_format-error,
// #enable_sub_category-error,#enable_brand-error,
// #default_barcode_type-error,
// #enable_category-error,
// #enable_price_tax-error,#enable_product_expiry-error,
// #enable_purchase-error,
// #stock_accounting_method-error{ 
// position: absolute;
// top: 45px;
// left: 10px;
// }


// view user detail start 
$roboto:'Roboto', sans-serif;
h5,.user_profile_updated_msg{

    font-family: $roboto;
}
label{
     font-family: $roboto;
     letter-spacing: .1px;
     margin-bottom: 4px;
}
.profile{
  width: 100%;
  background-color: #f1f1f1;
}
.profile_row{
  margin-top: 25px;
  margin-bottom: 25px;
}

.user_information{
  background: black;
}
.parent{
  background: #fff;
  padding: 25px;
}
// view user detail end 
.select2-selection {
  background-color: white !important;
}

.input_diabled {
  box-shadow: inset 0 0 2px 20px white;
}

.msg {
  position: absolute;
  right: 0px;
}




